.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.review {
  font-family: Verdana;
  font-weight: bold;
  font-size: small;
}

.yelpImage {
  height: 45px;
  width: 45px;
  margin-left: 80px;
}

.ratingImage {
  height: 21px;
  width: 123px;
}

.externalImage {
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

.googleImage {
  height: 45px;
  width: 45px;
  margin-left: 74px;
}

.fourImage {
  height: 45px;
  width: 45px;
  margin-left: 15px;
}

.fourImageSolo {
  height: 45px;
  width: 45px;
  margin-left: 25px;
}

.linky {
  margin-right: 20px;
}
